//
// Variables
//

$defaultColor: #3D464C;
$greyDark: #b2b2b2;
$greyLight: #f2f2f2;

$linkColor: #369;
$linkColorHover: #0B8E36;

$buttonBgColor: #66A7C5;

$defaultLineHeight: 1.6;

$maxWidth: 1280px;
$gap: 20px;

//
// Mixins
//

@mixin plainList {
  list-style: none;
  padding: 0;
  @content;
}

@mixin clearfix( $overflow: false ) {
  @if $overflow {
    overflow: hidden;
    @content;
  }
  @else {
    &:after {
      content: ".";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0px;
      line-height: 0;
      @content;
    }
  }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-visible {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
  @content;
}

@mixin button {
  display: inline-block;
  border: 0;
  background: none $buttonBgColor;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  padding: .55em 1em .4em;
  border-bottom: 2px solid rgba(#000, 0.2);
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
  }

  @content;
}

// "FontAwesome" or "dashicons"
@mixin icon( $content: "", $font: FontAwesome ) {
  content: $content;
  display: inline-block;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @content;
}

@mixin icon-before( $content: "", $font: FontAwesome ) {
  &:before {
    @include icon( $content, $font );
    margin-right: 0.28em;
    @content;
  }
}

@mixin icon-after( $content: "", $font: FontAwesome ) {
  &:after {
    @include icon( $content, $font );
    margin-left: 0.28em;
    @content;
  }
}

@mixin loader( $animation: spinner, $color: #fff ) {
  $loadingSize: 50px;
  $borderWidth: 4px;

  position: relative;

  &:before {
    box-sizing: border-box;
    content: "";
    display: block;
    width: $loadingSize;
    height: $loadingSize;
    background-color: rgba($color, 0.65);
    margin-top: $loadingSize * -0.5;
    margin-left: $loadingSize * -0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: $animation 1.2s infinite;

    @keyframes rotateplane {
      0% { perspective: 120px; }
      50% {
        perspective: 120px;
        transform: rotateY(180deg);
      }
      100% {
        perspective: 120px;
        transform: rotateY(180deg) rotateX(180deg);
      }
    }

    @if $animation == scaleout {
      border-radius: 100%;
    }

    @keyframes scaleout {
      0% { transform: scale(0.0); }
      100% {
        transform: scale(1.0);
        opacity: 0;
      }
    }

    @if $animation == spinner {
      border-radius: 100%;
      border: $borderWidth solid rgba($color, 0.35);
      border-left-color: $color;
      background-color: transparent;
      animation-timing-function: linear;
      margin-top: $loadingSize * -0.5;
      margin-left: $loadingSize * -0.5;
    }

    @keyframes spinner  {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  @content;
}
