#comments {
  .comments-title + #respond > h3 {
    margin-top: -15px;
  }

  .comment-list {
    @include plainList;
    margin-bottom: -$gap;

    ol {
      list-style: none;
      margin: 0;
    }

    article {
      .comment-author {
        float: left;
      }

      .comment-metadata {
        text-align: right;
        font-size: 85.71%;
        padding-top: 3px;

        a {
          color: $greyDark;
          cursor: text;
        }
      }

      .comment-content {
        box-shadow: 0 0 1px 1px rgba(#000, .1);
        padding: 0 ( $gap * .75 );
        clear: left;
        margin-top: .25em;
        font-style: italic;
      }
    }
  }

  #commentform {
    margin: 0 -5px;

    p {
      padding: 0 5px;
      margin-top: 0;

      label {
        @include element-invisible;
      }

      input, textarea {
        width: 100%;
      }

      .description {
        display: inline-block;
        color: $greyDark;
        font-size: 85.71%;
        line-height: 1.3em;
        padding-top: 2px;
      }

      &.logged-in-as {
        margin-top: -10px;
      }

      &.comment-form-comment {
        float: none;
        clear: left;
        width: auto;

        textarea {
          height: 8.5em;
        }
      }

      &.form-submit,
      &:not(.comment-form-comment)[class^="comment-form-"] {
        width: 33.33333%;
        float: left;
      }

      &.form-submit {
        min-width: 33.33333%;
        width: auto;
      }
    }
  }
}