html {
  box-sizing: border-box;
  min-width: 540px;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff; /* Fallback for when there is no custom background color defined. */
  position: relative;
}

body,
button,
input,
select,
textarea {
  color: $defaultColor;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem; // 14px
  line-height: $defaultLineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: 100;
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:active {
    color: $linkColorHover;
  }

  &:focus {
    outline: none;
  }
}

p {
  margin: 0.8em 0;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
  color: $greyDark;
  border: 1px solid $greyLight;
  border-width: 1px 0;
  float: left;
  font-style: italic;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.4em;
  width: 50%;
  margin: 0 0 0.5em;
  position: relative;
  left: -$gap;

  p {
    margin: 1em 0;
  }

  &.alignright {
    left: 0;
    right: -$gap;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

blockquote,
q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 0;
  padding-left: 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  position: relative;
  margin: 0;
  max-width: 100%;
  line-height: 0;

  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000,.65);
    color: #fff;
    font-size: .875em;
    line-height: 1.3em;
    padding: 5px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .15;
    transition: opacity .2s;
  }

  &:hover figcaption {
    opacity: 1;
  }
}

table {
  margin: 1.5em 0;
  width: 100%;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-spacing: 0px;

  * {
    word-wrap: break-word;
  }

  caption h2 {
    text-align: left;
    margin-top: 0;
  }

  th, td {
    padding: 8px 10px;
  }

  th {
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
  }

  tbody tr:nth-child(2n-1) {
    background-color: rgba(#000,.03);
  }
}
