button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  color: #666;
  border-radius: 3px;
  padding: 10px;
  border: 0;
  background-color: $greyLight;
  line-height: 1.2em;
  box-sizing: border-box;

  &:focus {
    color: #111;
  }
}

select {
  padding: 8px;
}

textarea {
  width: 100%;
}

.search-form {
  display: flex;

  > * {
    flex-grow: 1;
  }

  input[name="s"] {
    width: 100%;
  }
}