nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li a {
    display: block;
  }
}

.menu-toggle {
  position: fixed;
  z-index: 1;
  top: $gap / 2;
  left: $gap * .5;
  overflow: hidden;
  font-size: 2em;
  line-height: 1em;
  width: calc( 1em + 16px );
  padding: 5px 8px 4px;
  white-space: nowrap;
  @include icon-before("\f0c9") {
    margin-right: 0;
    color: $defaultColor;
    width: 1em;
  }
  color: transparent;
  background-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:after {
    display: none;
  }

  &:hover {
    background-color: rgba(#000, 0.05);
  }
}

body.menu__expanded .menu-toggle {
  &:before {
    content: "\f105";
    color: #3D464C;
    position: relative;
    left: -3px;
  }

  @include icon-after("\f104") {
    margin-left: 0;
    color: #3D464C;
    position: absolute;
    top: 6px;
    left: 20px;
  }
}

#masthead {
  background-color: #f2f2f2;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  line-height: 1em;

  .site-branding {
    position: absolute;
    z-index: 102;

    h1.site-title {
      margin: 0;
      position: relative;

      a {
        display: block;
        font-size: 1rem;
        line-height: 1.2em;
        color: $defaultColor;

        &:first-line {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1rem;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 2em;
          height: 2em;
          top: .6em;
          left: -2.6em;
          background: url("./images/logo.png") no-repeat scroll center center / auto 100% transparent;
        }
      }
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 40px;
    width: 100%;
    background-color: $greyLight;
    transform: skewY(-1deg);
  }
}

body.top-menu {
  #masthead {
    position: fixed;
    width: 100%;
    padding: 0;
    padding-left: 8em !important;
    height: auto !important;
    min-height: 2.5em;

    h1.site-title {
      padding-top: .7em;
      white-space: nowrap;
    }

    .widget {
      display: none;
    }
  }

  #content {
    padding: 55px $gap 0 ($gap*2);
  }

  #site-navigation div > ul {
    display: none;
  }

  &.menu__expanded {
    .menu-toggle {
      &:before {
        left: -2px;
      }

      &:after {
        top: 5px;
        left: 19px;
      }
    }

    #site-navigation {
      margin-left: -8em;
      text-align: center;
      padding-top: 4em;
      position: relative;
      left: 0 !important;
      z-index: 1;

      div > ul {
        display: block;

        a {
          padding: .5em;
        }

        > li > a {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.3em;
        }
      }
    }
  }
}

body:not(.top-menu) {
  #masthead {
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 320px;
      height: 150px;
      right: $gap / 4;
      bottom: -$gap;
      background: url("./images/block.png") no-repeat scroll 0 0 transparent;
      //    @include opacity(.65);
    }
    padding: $gap 340px 0 $gap;

    .site-branding {
      top: $gap;
      left: $gap;

      h1.site-title {
        $logoDimension: 100px;

        a {
          background-color: #fff;
          padding: ( $logoDimension * 0.75 + $gap * 1.5 + 2px ) $gap ( $gap + 2px );
          width: $logoDimension + 3.5 * $gap + 10px;
          text-align: center;
          box-shadow: 10px 0 30px -30px #000;

          &:after {
            top: $gap;
            left: 0;
            width: 100%;
            height: $logoDimension * 0.75;
            margin: 0 auto;
            transition: all 0.2s;
          }
        }
      }
    }

    .widget {
      font-size: 85.71%; // 12px
      margin: 0;
      padding: 0 ( $gap / 2 );
      max-width: 300px;
      box-sizing: border-box;

      &.widget_posts {
        ul li {
          display: none;
          display: none;

          &:first-child,
          &:nth-child(2),
          &:nth-child(3) {
            display: block;
          }
        }
      }
    }
  }

  #site-navigation {
    position: absolute;
    z-index: 101;
    top: $gap;

    .menu-toggle {
      opacity: 0;
    }

    div > ul {
      font-weight: bold;

      li {
        position: relative;
        background-color: #fff;

        a {
          line-height: $defaultLineHeight;
          padding: 8px 13px 6px;
          position: relative;
          background: none transparent;
          text-transform: uppercase;
          white-space: nowrap;
        }

        + li {
          margin-top: 7px;
        }

        // submenu
        ul {
          display: none;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 100%;
          font-weight: normal;
          font-size: 85.71%; // 12px
          box-shadow: 2px 2px 3px rgba(#000,.15);
          margin-left: 7px;

          li + li {
            margin-top: -3px;

            > a {
              padding-top: 2px;
            }
          }

          // sub-submenu
          ul {
            font-size: 100%;
            margin-left: 0;
            font-weight: normal;
          }
        }

        &:hover {
          &.menu-item-has-children > a:after {
            content: "";
            position: absolute;
            top: 0;
            right: -7px;
            width: 7px;
            height: 100%;
          }

          > a,
          &.menu-item-has-children > a:after {
            background-color: #fff;
            color: $linkColorHover;
          }
        }
      }

      // show submenu
      li:hover > ul {
        display: block;
      }
    }
  }

  &.sidebar-menu {
    #masthead {
      position: fixed;
      width: 220px;
      height: auto !important;
      padding: 0 $gap $gap !important;
      margin-left: -220px;
      bottom: 0;
      background-color: $defaultColor;
      overflow-y: auto;
      border-top: 0;

      > * {
        display: none;
      }

      .site-branding,
      #site-navigation {
        display: block;
        position: relative;
        top: 0 !important;
        left: 0 !important;
      }

      .site-branding h1.site-title a {
        background-color: transparent;
        box-shadow: none;
        color: #fff;
      }

      #site-navigation {
        padding-top: 7px;
      }

      &:before,
      &:after {
        display: none;
      }
    }

    &.sidebar-menu__toggleable {
      #masthead {
        transition: all 0.2s;

        #site-navigation {
          margin-bottom: $gap;

          .menu-toggle {
            opacity: 1;
            cursor: pointer;
          }

          div > ul {
            margin: 0 (-$gap);

            > li.menu-item-has-children:hover > a:after {
              display: none;
            }

            li {
              background-color: transparent;

              a {
                color: #fff;
                background-color: rgba(#fff, .02);
              }
            }

            li a:hover,
            > li > a {
              background-color: rgba(#fff, .05);
            }

            // submenu
            ul {
              display: block;
              position: relative;
              left: 0;
              box-shadow: none;
              margin-left: 0;

              li + li {
                margin-top: 0;

                a {
                  padding-top: 8px;
                }
              }
            }
          }
        }
      }
    }

    &.menu__expanded {
      overflow: hidden;

      #masthead {
        margin-left: 0;

        #site-navigation {
          .menu-toggle {
            left: 230px;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 220px;
        background-color: rgba(#000, 0.15);
      }
    }
  }
}

.nav-links {
  @include clearfix;
  padding-top: $gap;
  border-top: 1px solid $greyLight;

  > div {
    a,
    .current {
      @include button;
    }

    .current {
      background-color: $linkColorHover;
    }

    &.nav-previous {
      float: left;
    }

    &.nav-next {
      float: right;
    }
  }
}

#footer-navigation {
  position: relative;
  z-index: 1;
  font-size: 85.71%; // 12px

  .menu-toggle {
    display: none
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      line-height: 1em;
      color: rgba(#fff,.65);
      padding: .5em;
      display: block;

      &[href="/"] {
        pointer-events: none;
        text-transform: uppercase;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    > li {
      float: left;

      > a {
        font-weight: bold;
      }

      + li {
        margin-left: $gap;
      }
    }
  }
}
