#page {
  max-width: $maxWidth;
  overflow: hidden;
  margin: 0 auto;
}

#content,
#colophone {
  padding: 0 ( 2 * $gap + 44px );
}

#content {
  padding-top: 222px;
  position: relative;
  min-height: 100vh;
  @include clearfix;
//  @include transition(all 0.2s);

  #primary {
    padding-right: 300px + $gap;
    position: relative;

    #main {
      padding-bottom: $gap;
      width: 100%;
      float: left;
    }

    #secondary {
      width: 300px;
      float: right;
      margin-right: -300px - $gap;
      font-size: 85.71%; // 12px

      aside {
        // @see .widget { ... }
      }
    }
  }

  #tertiary {
    text-align: right;
    color: rgba($defaultColor, 0.35);
    width: 160px;
    font-size: 76.923%;
    clear: right;
    float: right;
  }
}

#colophon {
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    height: 40px;
    width: 100%;
    background-color: $defaultColor;
    transform: skewY(-1deg);
  }

  position: absolute;
  background-color: $defaultColor;
  color: #fff;
  margin-top: $gap;
  padding: $gap;
  padding-right: 340px;
  min-height: 150px;
  right: 0;
  border-bottom: 0;
  left: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 150px;
    right: $gap / 4;
    bottom: 0;
    background: url("./images/block.png") no-repeat scroll 0 0 transparent;
    opacity: .1;
  }
}
