/**
 * Accessibility
 */

// Text meant only for screen readers.
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

/**
 * Alignments
 */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Clearings
 */

.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/**
 * Gallery
 */

.gallery {
  @include clearfix;
  margin: -1px;

  .gallery-item {
    line-height: 0;
    margin: 0;
    float: left;
    padding: 2px;

    > div,
    > div a,
    > div img {
      display: block;
      line-height: 0;
      width: 100%;
      height: 100%;
    }

    > div {
      overflow: hidden;
      background-color: $greyLight;
      @include loader;

      img {
        background: none no-repeat scroll center center / cover transparent;
        position: relative;
        z-index: 1;
        transition: all 1s;
      }

      &:hover {
        img {
          transform: scale(1.1, 1.1) rotateZ(-2deg);
        }
      }
    }
  }

  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} .gallery-item {
      width: #{100% / $i};
      height: #{100% / $i};
    }
  }
}
