ul.share {
  list-style: none;
  margin: $gap 0 ( $gap * 0.25 );
  padding: 0 0 ( $gap + 2px );
  overflow: hidden;
  position: relative;
//  background-color: rgba(#000, 0.05);

  li {
    float: left;
    border-right: 0.28em solid #fff;

    a {
      @include button;

      &.share__facebook {
        background-color: #6D84B4;
        @include icon-before( "\f09a" );
      }

      &.share__twitter {
        background-color: #38AEEA;
        @include icon-before( "\f099" );
      }

      &.share__google {
        background-color: #D84C38;
        @include icon-before( "\f0d5" );
      }

      &.share__email {
        @include icon-before( "\f0e0" );
      }

      &.share__whatsapp {
        background-color: #43D854;
        @include icon-before( "\f232" );
      }

      &.share__sms {
        @include icon-before( "\f27b" );
      }
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    border-bottom: 1px dotted $greyDark;
  }
}