// desktop
@media screen and ( min-width: 1200px ) {
  #content {
    padding-right: 160px + 3 * $gap + 44px;

    #tertiary {
      right: 84px;
      position: absolute;
      z-index: 1;
      clear: none;
    }
  }
}

@media screen and ( max-width: 862px ) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 0.75rem; // 12px
  }

  table {
    &.season-table,
    &.season-schedule {
      thead, tbody, tfoot {
        font-size: 100%
      }
    }
  }

  article.member {
    font-size: 100%
  }

  #content {
    padding-right: $gap;

    #primary {
      padding-right: 160px + $gap;

      #main {
        float: none;
        margin-right: -160px - $gap;
        width: auto;
      }

      #secondary {
        width: 100%;
        margin-right: 0;
        float: left;
        font-size: 100%
      }
    }

    #tertiary {
      right: 0;
      position: relative;
      float: right;
    }
  }
}