@import url(normalize.css);
/**
 * Accessibility
 */
.screen-reader-text
{
    position: absolute !important;
    overflow: hidden; 
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;
    z-index: 100000;
    top: 5px;
    left: 5px;
    display: block;
    clip: auto !important;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    text-decoration: none;
    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    /* Above WP toolbar. */
}

/**
 * Alignments
 */
.alignleft
{
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright
{
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter
{
    display: block;
    clear: both;
    margin-right: auto; 
    margin-left: auto;
}

/**
 * Clearings
 */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after
{
    display: table;
    content: '';
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after
{
    clear: both;
}

/**
 * Gallery
 */
.gallery
{
    margin: -1px;
}

.gallery:after
{
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.gallery .gallery-item
{
    line-height: 0;
    float: left;
    margin: 0;
    padding: 2px;
}

.gallery .gallery-item > div,
.gallery .gallery-item > div a,
.gallery .gallery-item > div img
{
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.gallery .gallery-item > div
{
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
}

.gallery .gallery-item > div:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-top: -25px;
    margin-left: -25px;
    margin-left: -25px;
    content: '';
    animation: spinner 1.2s infinite;
    animation-timing-function: linear;
    border: 4px solid rgba(255, 255, 255, .35);
    border-left-color: #fff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .65);
    background-color: transparent;
}

@keyframes rotateplane
{
    0%
    {
        perspective: 120px;
    }

    50%
    {
        transform: rotateY(180deg);
        perspective: 120px;
    }

    100%
    {
        transform: rotateY(180deg) rotateX(180deg);
        perspective: 120px;
    }
}

@keyframes scaleout
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes spinner
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

.gallery .gallery-item > div img
{
    position: relative;
    z-index: 1;
    transition: all 1s;
    background: none no-repeat scroll center center / cover transparent;
}

.gallery .gallery-item > div:hover img
{
    -ms-transform: scale(1.1, 1.1) rotate(-2deg);
        transform: scale(1.1, 1.1) rotateZ(-2deg);
}

.gallery.gallery-columns-1 .gallery-item
{
    width: 100%;
    height: 100%;
}

.gallery.gallery-columns-2 .gallery-item
{
    width: 50%;
    height: 50%;
}

.gallery.gallery-columns-3 .gallery-item
{
    width: 33.33333%;
    height: 33.33333%;
}

.gallery.gallery-columns-4 .gallery-item
{
    width: 25%;
    height: 25%;
}

.gallery.gallery-columns-5 .gallery-item
{
    width: 20%;
    height: 20%;
}

.gallery.gallery-columns-6 .gallery-item
{
    width: 16.66667%;
    height: 16.66667%;
}

.gallery.gallery-columns-7 .gallery-item
{
    width: 14.28571%;
    height: 14.28571%;
}

.gallery.gallery-columns-8 .gallery-item
{
    width: 12.5%;
    height: 12.5%;
}

.gallery.gallery-columns-9 .gallery-item
{
    width: 11.11111%;
    height: 11.11111%;
}

html
{
    box-sizing: border-box;
    min-width: 540px;
}

*,
*:before,
*:after
{
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body
{
    /* Fallback for when there is no custom background color defined. */
    position: relative;
    background: #fff;
}

body,
button,
input,
select,
textarea
{
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    line-height: 1.6;
    color: #3d464c;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 100;
    text-transform: none;
}

a
{
    text-decoration: none;
    color: #369;
    outline: 0;
}

a:hover,
a:active
{
    color: #0b8e36;
}

a:focus
{
    outline: none;
}

p
{
    margin: .8em 0;
}

b,
strong
{
    font-weight: bold;
}

dfn,
cite,
em,
i
{
    font-style: italic;
}

blockquote
{
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4em;
    position: relative;
    left: -20px;
    float: left;
    width: 50%;
    margin: 0 1.5em;
    margin: 0 0 .5em;
    color: #b2b2b2;
    border: 1px solid #f2f2f2;
    border-width: 1px 0;
}

blockquote p
{
    margin: 1em 0;
}

blockquote.alignright
{
    right: -20px; 
    left: 0;
}

address
{
    margin: 0 0 1.5em;
}

pre
{
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #eee;
}

code,
kbd,
tt,
var
{
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 15px;
    font-size: .9375rem;
}

abbr,
acronym
{
    cursor: help;
    border-bottom: 1px dotted #666;
}

mark,
ins
{
    text-decoration: none;
    background: #fff9c0;
}

small
{
    font-size: 75%;
}

big
{
    font-size: 125%;
}

blockquote,
q
{
    quotes: '' '';
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}

hr
{
    height: 1px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: #ccc;
}

ul,
ol
{
    margin: 0 0 1.5em 0;
    padding-left: 3em;
}

ul
{
    list-style: disc;
}

ol
{
    list-style: decimal;
}

li > ul,
li > ol
{
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 1.5em 1.5em;
}

img
{
    max-width: 100%;
    height: auto;
}

figure
{
    line-height: 0;
    position: relative;
    max-width: 100%;
    margin: 0;
}

figure figcaption
{
    font-size: .875em;
    line-height: 1.3em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 5px 8px;
    transition: opacity .2s; 
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .15;
    color: #fff;
    background-color: rgba(0, 0, 0, .65);
}

figure:hover figcaption
{
    opacity: 1;
}

table
{
    width: 100%;
    margin: 1.5em 0;
    border-spacing: 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

table *
{
    word-wrap: break-word;
}

table caption h2
{
    margin-top: 0;
    text-align: left;
}

table th,
table td
{
    padding: 8px 10px;
}

table th
{
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

table tbody tr:nth-child(2n-1)
{
    background-color: rgba(0, 0, 0, .03);
}

#page
{
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}

#content,
#colophone
{
    padding: 0 84px;
}

#content
{
    position: relative;
    min-height: 100vh; 
    padding-top: 222px;
}

#content:after
{
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

#content #primary
{
    position: relative;
    padding-right: 320px;
}

#content #primary #main
{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

#content #primary #secondary
{
    font-size: 85.71%;
    float: right;
    width: 300px;
    margin-right: -320px;
}

#content #tertiary
{
    font-size: 76.923%;
    float: right; 
    clear: right;
    width: 160px;
    text-align: right;
    color: rgba(61, 70, 76, .35);
}

#colophon
{
    position: absolute;
    right: 0;
    left: 0;
    min-height: 150px;
    margin-top: 20px;
    padding: 20px;
    padding-right: 340px;
    color: #fff;
    border-bottom: 0;
    background-color: #3d464c;
}

#colophon:before
{
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    content: '';
    -ms-transform: skewY(-1deg);
        transform: skewY(-1deg);
    background-color: #3d464c;
}

#colophon:after
{
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 0;
    display: block;
    width: 320px;
    height: 150px;
    content: '';
    opacity: .1; 
    background: url('./images/block.png') no-repeat scroll 0 0 transparent;
}

/*# sourceMappingURL=editor.css.map */
