@import "../../../css/base";

.widget_posts {
  padding: 0;

  h3.widget-title {
    margin: 0;
  }

  ul.posts {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      line-height: 1.4em;
      background-color: rgba(#000, 0.005);

      a {
        display: block;
        padding: ( $gap / 4 ) ( $gap / 2 );
        padding-right: $gap * 2.5;

        span {
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &.post__day {
            float: right;
            font-size: 2.4em;
            line-height: 1em;
            font-weight: 100;
            color: rgba(#000, 0.1);
            padding-top: 2px;
            margin-right: $gap * -2;
          }

          &.post__date {
            color: $defaultColor;
          }

          &.post__title {
            font-weight: bold;

//            &:hover {
//              text-decoration: underline;
//            }
          }
        }

        &:hover {
          background-color: rgba(#000, 0.05);

          span.post__day {
            color: rgba(#fff, 0.65);
          }
        }
      }

      &:nth-child(2n-1) {
        background-color: rgba(#000, 0.02);
      }
    }
  }
}
