.widget_posts
{
    padding: 0;
}

.widget_posts h3.widget-title
{
    margin: 0;
}

.widget_posts ul.posts
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget_posts ul.posts li
{
    line-height: 1.4em;
    background-color: rgba(0, 0, 0, .005);
}

.widget_posts ul.posts li a
{
    display: block;
    padding: 5px 10px;
    padding-right: 50px;
}

.widget_posts ul.posts li a span
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.widget_posts ul.posts li a span.post__day
{
    font-size: 2.4em;
    font-weight: 100;
    line-height: 1em;
    float: right;
    margin-right: -40px; 
    padding-top: 2px;
    color: rgba(0, 0, 0, .1);
}

.widget_posts ul.posts li a span.post__date
{
    color: #3d464c;
}

.widget_posts ul.posts li a span.post__title
{
    font-weight: bold;
}

.widget_posts ul.posts li a:hover
{
    background-color: rgba(0, 0, 0, .05);
}

.widget_posts ul.posts li a:hover span.post__day
{
    color: rgba(255, 255, 255, .65);
}

.widget_posts ul.posts li:nth-child(2n-1)
{
    background-color: rgba(0, 0, 0, .02);
}

/*# sourceMappingURL=posts.css.map */
