@charset 'UTF-8';
/*
Theme Name: siehste
Theme URI:
Author: Stefan Käsche
Author URI:
Description: Theme for the website of Volleyballclub Strausberg e.V.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: siehste
Tags:

siehste is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
*/
@import url(./css/normalize.css);
@import url(./fonts/font-awesome/css/font-awesome.min.css);
html
{
    box-sizing: border-box;
    min-width: 540px;
}

*,
*:before,
*:after
{
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body
{
    /* Fallback for when there is no custom background color defined. */
    position: relative;
    background: #fff;
}

body,
button,
input,
select,
textarea
{
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    line-height: 1.6;
    color: #3d464c;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 100;
    text-transform: none;
}

a
{
    text-decoration: none;
    color: #369;
    outline: 0;
}

a:hover,
a:active
{
    color: #0b8e36;
}

a:focus
{
    outline: none;
}

p
{
    margin: .8em 0;
}

b,
strong
{
    font-weight: bold;
}

dfn,
cite,
em,
i
{
    font-style: italic;
}

blockquote
{
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4em;
    position: relative;
    left: -20px;
    float: left;
    width: 50%;
    margin: 0 1.5em;
    margin: 0 0 .5em;
    color: #b2b2b2;
    border: 1px solid #f2f2f2;
    border-width: 1px 0;
}

blockquote p
{
    margin: 1em 0;
}

blockquote.alignright
{
    right: -20px; 
    left: 0;
}

address
{
    margin: 0 0 1.5em;
}

pre
{
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #eee;
}

code,
kbd,
tt,
var
{
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 15px;
    font-size: .9375rem;
}

abbr,
acronym
{
    cursor: help;
    border-bottom: 1px dotted #666;
}

mark,
ins
{
    text-decoration: none;
    background: #fff9c0;
}

small
{
    font-size: 75%;
}

big
{
    font-size: 125%;
}

blockquote,
q
{
    quotes: '' '';
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}

hr
{
    height: 1px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: #ccc;
}

ul,
ol
{
    margin: 0 0 1.5em 0;
    padding-left: 3em;
}

ul
{
    list-style: disc;
}

ol
{
    list-style: decimal;
}

li > ul,
li > ol
{
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 1.5em 1.5em;
}

img
{
    max-width: 100%;
    height: auto;
}

figure
{
    line-height: 0;
    position: relative;
    max-width: 100%;
    margin: 0;
}

figure figcaption
{
    font-size: .875em;
    line-height: 1.3em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 5px 8px;
    transition: opacity .2s; 
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .15;
    color: #fff;
    background-color: rgba(0, 0, 0, .65);
}

figure:hover figcaption
{
    opacity: 1;
}

table
{
    width: 100%;
    margin: 1.5em 0;
    border-spacing: 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

table *
{
    word-wrap: break-word;
}

table caption h2
{
    margin-top: 0;
    text-align: left;
}

table th,
table td
{
    padding: 8px 10px;
}

table th
{
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

table tbody tr:nth-child(2n-1)
{
    background-color: rgba(0, 0, 0, .03);
}

button,
input[type='button'],
input[type='reset'],
input[type='submit']
{
    font-size: 12px;
    font-size: .75rem;
    display: inline-block;
    padding: .55em 1em .4em;
    color: #fff;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    border-radius: 2px; 
    background: none #66a7c5;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover
{
    opacity: .8;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
select,
textarea
{
    line-height: 1.2em;
    box-sizing: border-box; 
    padding: 10px;
    color: #666;
    border: 0;
    border-radius: 3px;
    background-color: #f2f2f2;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
select:focus,
textarea:focus
{
    color: #111;
}

select
{
    padding: 8px;
}

textarea
{
    width: 100%;
}

.search-form
{
    display: -ms-flexbox;
    display: flex;
}

.search-form > *
{
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-form input[name='s']
{
    width: 100%;
}

/**
 * Accessibility
 */
.screen-reader-text
{
    position: absolute !important;
    overflow: hidden; 
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;
    z-index: 100000;
    top: 5px;
    left: 5px;
    display: block;
    clip: auto !important;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    text-decoration: none;
    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    /* Above WP toolbar. */
}

/**
 * Alignments
 */
.alignleft
{
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright
{
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter
{
    display: block;
    clear: both;
    margin-right: auto; 
    margin-left: auto;
}

/**
 * Clearings
 */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after
{
    display: table;
    content: '';
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after
{
    clear: both;
}

/**
 * Gallery
 */
.gallery
{
    margin: -1px;
}

.gallery:after
{
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.gallery .gallery-item
{
    line-height: 0;
    float: left;
    margin: 0;
    padding: 2px;
}

.gallery .gallery-item > div,
.gallery .gallery-item > div a,
.gallery .gallery-item > div img
{
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.gallery .gallery-item > div
{
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
}

.gallery .gallery-item > div:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-top: -25px;
    margin-left: -25px;
    margin-left: -25px;
    content: '';
    animation: spinner 1.2s infinite;
    animation-timing-function: linear;
    border: 4px solid rgba(255, 255, 255, .35);
    border-left-color: #fff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .65);
    background-color: transparent;
}

@keyframes rotateplane
{
    0%
    {
        perspective: 120px;
    }

    50%
    {
        transform: rotateY(180deg);
        perspective: 120px;
    }

    100%
    {
        transform: rotateY(180deg) rotateX(180deg);
        perspective: 120px;
    }
}

@keyframes scaleout
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes spinner
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

.gallery .gallery-item > div img
{
    position: relative;
    z-index: 1;
    transition: all 1s;
    background: none no-repeat scroll center center / cover transparent;
}

.gallery .gallery-item > div:hover img
{
    -ms-transform: scale(1.1, 1.1) rotate(-2deg);
        transform: scale(1.1, 1.1) rotateZ(-2deg);
}

.gallery.gallery-columns-1 .gallery-item
{
    width: 100%;
    height: 100%;
}

.gallery.gallery-columns-2 .gallery-item
{
    width: 50%;
    height: 50%;
}

.gallery.gallery-columns-3 .gallery-item
{
    width: 33.33333%;
    height: 33.33333%;
}

.gallery.gallery-columns-4 .gallery-item
{
    width: 25%;
    height: 25%;
}

.gallery.gallery-columns-5 .gallery-item
{
    width: 20%;
    height: 20%;
}

.gallery.gallery-columns-6 .gallery-item
{
    width: 16.66667%;
    height: 16.66667%;
}

.gallery.gallery-columns-7 .gallery-item
{
    width: 14.28571%;
    height: 14.28571%;
}

.gallery.gallery-columns-8 .gallery-item
{
    width: 12.5%;
    height: 12.5%;
}

.gallery.gallery-columns-9 .gallery-item
{
    width: 11.11111%;
    height: 11.11111%;
}

#page
{
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}

#content,
#colophone
{
    padding: 0 84px;
}

#content
{
    position: relative;
    min-height: 100vh; 
    padding-top: 222px;
}

#content:after
{
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

#content #primary
{
    position: relative;
    padding-right: 320px;
}

#content #primary #main
{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

#content #primary #secondary
{
    font-size: 85.71%;
    float: right;
    width: 300px;
    margin-right: -320px;
}

#content #tertiary
{
    font-size: 76.923%;
    float: right; 
    clear: right;
    width: 160px;
    text-align: right;
    color: rgba(61, 70, 76, .35);
}

#colophon
{
    position: absolute;
    right: 0;
    left: 0;
    min-height: 150px;
    margin-top: 20px;
    padding: 20px;
    padding-right: 340px;
    color: #fff;
    border-bottom: 0;
    background-color: #3d464c;
}

#colophon:before
{
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    content: '';
    -ms-transform: skewY(-1deg);
        transform: skewY(-1deg);
    background-color: #3d464c;
}

#colophon:after
{
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 0;
    display: block;
    width: 320px;
    height: 150px;
    content: '';
    opacity: .1; 
    background: url('./images/block.png') no-repeat scroll 0 0 transparent;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a
{
    display: block;
}

.menu-toggle
{
    font-size: 2em;
    line-height: 1em;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    overflow: hidden;
    width: calc( 1em + 16px);
    padding: 5px 8px 4px;
    cursor: pointer;
    transition: all .2s; 
    white-space: nowrap;
    color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
}

.menu-toggle:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    width: 1em; 
    margin-right: .28em;
    margin-right: 0;
    content: '';
    text-align: center;
    color: #3d464c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-toggle:after
{
    display: none;
}

.menu-toggle:hover
{
    background-color: rgba(0, 0, 0, .05);
}

body.menu__expanded .menu-toggle:before
{
    position: relative;
    left: -3px;
    content: '\f105';
    color: #3d464c;
}

body.menu__expanded .menu-toggle:after
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: absolute;
    top: 6px;
    left: 20px;
    display: inline-block;
    margin-left: .28em;
    margin-left: 0;
    content: '';
    text-align: center;
    color: #3d464c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#masthead
{
    line-height: 1em;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
}

#masthead .site-branding
{
    position: absolute;
    z-index: 102;
}

#masthead .site-branding h1.site-title
{
    position: relative;
    margin: 0;
}

#masthead .site-branding h1.site-title a
{
    font-size: 1rem;
    line-height: 1.2em;
    display: block;
    color: #3d464c;
}

#masthead .site-branding h1.site-title a:first-line
{
    font-size: 1rem; 
    font-weight: bold;
    text-transform: uppercase;
}

#masthead .site-branding h1.site-title a:after
{
    position: absolute;
    top: .6em;
    left: -2.6em;
    display: block;
    width: 2em;
    height: 2em;
    content: '';
    background: url('./images/logo.png') no-repeat scroll center center/auto 100% transparent;
}

#masthead:after
{
    position: absolute;
    bottom: -20px;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    content: '';
    -ms-transform: skewY(-1deg);
        transform: skewY(-1deg);
    background-color: #f2f2f2;
}

body.top-menu #masthead
{
    position: fixed;
    width: 100%;
    height: auto !important;
    min-height: 2.5em; 
    padding: 0;
    padding-left: 8em !important;
}

body.top-menu #masthead h1.site-title
{
    padding-top: .7em;
    white-space: nowrap;
}

body.top-menu #masthead .widget
{
    display: none;
}

body.top-menu #content
{
    padding: 55px 20px 0 40px;
}

body.top-menu #site-navigation div > ul
{
    display: none;
}

body.top-menu.menu__expanded .menu-toggle:before
{
    left: -2px;
}

body.top-menu.menu__expanded .menu-toggle:after
{
    top: 5px;
    left: 19px;
}

body.top-menu.menu__expanded #site-navigation
{
    position: relative;
    z-index: 1; 
    left: 0 !important;
    margin-left: -8em;
    padding-top: 4em;
    text-align: center;
}

body.top-menu.menu__expanded #site-navigation div > ul
{
    display: block;
}

body.top-menu.menu__expanded #site-navigation div > ul a
{
    padding: .5em;
}

body.top-menu.menu__expanded #site-navigation div > ul > li > a
{
    font-size: 1.3em; 
    font-weight: bold;
    text-transform: uppercase;
}

body:not(.top-menu) #masthead
{
    padding: 20px 340px 0 20px;
}

body:not(.top-menu) #masthead:before
{
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: -20px;
    display: block;
    width: 320px;
    height: 150px;
    content: '';
    background: url('./images/block.png') no-repeat scroll 0 0 transparent;
}

body:not(.top-menu) #masthead .site-branding
{
    top: 20px;
    left: 20px;
}

body:not(.top-menu) #masthead .site-branding h1.site-title a
{
    width: 180px;
    padding: 107px 20px 22px;
    text-align: center;
    background-color: #fff;
    box-shadow: 10px 0 30px -30px #000;
}

body:not(.top-menu) #masthead .site-branding h1.site-title a:after
{
    top: 20px;
    left: 0;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    transition: all .2s;
}

body:not(.top-menu) #masthead .widget
{
    font-size: 85.71%;
    box-sizing: border-box; 
    max-width: 300px;
    margin: 0;
    padding: 0 10px;
}

body:not(.top-menu) #masthead .widget.widget_posts ul li
{
    display: none;
    display: none;
}

body:not(.top-menu) #masthead .widget.widget_posts ul li:first-child,
body:not(.top-menu) #masthead .widget.widget_posts ul li:nth-child(2),
body:not(.top-menu) #masthead .widget.widget_posts ul li:nth-child(3)
{
    display: block;
}

body:not(.top-menu) #site-navigation
{
    position: absolute;
    z-index: 101;
    top: 20px;
}

body:not(.top-menu) #site-navigation .menu-toggle
{
    opacity: 0;
}

body:not(.top-menu) #site-navigation div > ul
{
    font-weight: bold;
}

body:not(.top-menu) #site-navigation div > ul li
{
    position: relative;
    background-color: #fff;
}

body:not(.top-menu) #site-navigation div > ul li a
{
    line-height: 1.6;
    position: relative;
    padding: 8px 13px 6px;
    white-space: nowrap; 
    text-transform: uppercase;
    background: none transparent;
}

body:not(.top-menu) #site-navigation div > ul li + li
{
    margin-top: 7px;
}

body:not(.top-menu) #site-navigation div > ul li ul
{
    font-size: 85.71%;
    font-weight: normal;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    display: none;
    margin-left: 7px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15);
}

body:not(.top-menu) #site-navigation div > ul li ul li + li
{
    margin-top: -3px;
}

body:not(.top-menu) #site-navigation div > ul li ul li + li > a
{
    padding-top: 2px;
}

body:not(.top-menu) #site-navigation div > ul li ul ul
{
    font-size: 100%;
    font-weight: normal;
    margin-left: 0;
}

body:not(.top-menu) #site-navigation div > ul li:hover.menu-item-has-children > a:after
{
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 100%;
    content: '';
}

body:not(.top-menu) #site-navigation div > ul li:hover > a,
body:not(.top-menu) #site-navigation div > ul li:hover.menu-item-has-children > a:after
{
    color: #0b8e36; 
    background-color: #fff;
}

body:not(.top-menu) #site-navigation div > ul li:hover > ul
{
    display: block;
}

body:not(.top-menu).sidebar-menu #masthead
{
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    width: 220px;
    height: auto !important;
    margin-left: -220px;
    padding: 0 20px 20px !important;
    border-top: 0; 
    background-color: #3d464c;
}

body:not(.top-menu).sidebar-menu #masthead > *
{
    display: none;
}

body:not(.top-menu).sidebar-menu #masthead .site-branding,
body:not(.top-menu).sidebar-menu #masthead #site-navigation
{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    display: block;
}

body:not(.top-menu).sidebar-menu #masthead .site-branding h1.site-title a
{
    color: #fff; 
    background-color: transparent;
    box-shadow: none;
}

body:not(.top-menu).sidebar-menu #masthead #site-navigation
{
    padding-top: 7px;
}

body:not(.top-menu).sidebar-menu #masthead:before,
body:not(.top-menu).sidebar-menu #masthead:after
{
    display: none;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead
{
    transition: all .2s;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation
{
    margin-bottom: 20px;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation .menu-toggle
{
    cursor: pointer;
    opacity: 1;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul
{
    margin: 0 -20px;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul > li.menu-item-has-children:hover > a:after
{
    display: none;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul li
{
    background-color: transparent;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul li a
{
    color: #fff;
    background-color: rgba(255, 255, 255, .02);
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul li a:hover,
body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul > li > a
{
    background-color: rgba(255, 255, 255, .05);
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul ul
{
    position: relative;
    left: 0;
    display: block;
    margin-left: 0;
    box-shadow: none;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul ul li + li
{
    margin-top: 0;
}

body:not(.top-menu).sidebar-menu.sidebar-menu__toggleable #masthead #site-navigation div > ul ul li + li a
{
    padding-top: 8px;
}

body:not(.top-menu).sidebar-menu.menu__expanded
{
    overflow: hidden;
}

body:not(.top-menu).sidebar-menu.menu__expanded #masthead
{
    margin-left: 0;
}

body:not(.top-menu).sidebar-menu.menu__expanded #masthead #site-navigation .menu-toggle
{
    left: 230px;
}

body:not(.top-menu).sidebar-menu.menu__expanded:after
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 220px;
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, .15);
}

.nav-links
{
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
}

.nav-links:after
{
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.nav-links > div a,
.nav-links > div .current
{
    font-size: 12px;
    font-size: .75rem;
    display: inline-block;
    padding: .55em 1em .4em;
    color: #fff;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    border-radius: 2px; 
    background: none #66a7c5;
}

.nav-links > div a:hover,
.nav-links > div .current:hover
{
    opacity: .8;
}

.nav-links > div .current
{
    background-color: #0b8e36;
}

.nav-links > div.nav-previous
{
    float: left;
}

.nav-links > div.nav-next
{
    float: right;
}

#footer-navigation
{
    font-size: 85.71%;
    position: relative;
    z-index: 1;
}

#footer-navigation .menu-toggle
{
    display: none;
}

#footer-navigation ul.menu
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer-navigation ul.menu a
{
    line-height: 1em;
    display: block;
    padding: .5em;
    color: rgba(255, 255, 255, .65);
}

#footer-navigation ul.menu a[href='/']
{
    text-transform: uppercase; 
    pointer-events: none;
}

#footer-navigation ul.menu a:hover
{
    text-decoration: underline;
}

#footer-navigation ul.menu > li
{
    float: left;
}

#footer-navigation ul.menu > li > a
{
    font-weight: bold;
}

#footer-navigation ul.menu > li + li
{
    margin-left: 20px;
}

#comments .comments-title + #respond > h3
{
    margin-top: -15px;
}

#comments .comment-list
{
    margin-bottom: -20px; 
    padding: 0;
    list-style: none;
}

#comments .comment-list ol
{
    margin: 0;
    list-style: none;
}

#comments .comment-list article .comment-author
{
    float: left;
}

#comments .comment-list article .comment-metadata
{
    font-size: 85.71%;
    padding-top: 3px;
    text-align: right;
}

#comments .comment-list article .comment-metadata a
{
    cursor: text;
    color: #b2b2b2;
}

#comments .comment-list article .comment-content
{
    font-style: italic;
    clear: left;
    margin-top: .25em;
    padding: 0 15px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

#comments #commentform
{
    margin: 0 -5px;
}

#comments #commentform p
{
    margin-top: 0; 
    padding: 0 5px;
}

#comments #commentform p label
{
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

#comments #commentform p input,
#comments #commentform p textarea
{
    width: 100%;
}

#comments #commentform p .description
{
    font-size: 85.71%;
    line-height: 1.3em;
    display: inline-block;
    padding-top: 2px;
    color: #b2b2b2;
}

#comments #commentform p.logged-in-as
{
    margin-top: -10px;
}

#comments #commentform p.comment-form-comment
{
    float: none;
    clear: left;
    width: auto;
}

#comments #commentform p.comment-form-comment textarea
{
    height: 8.5em;
}

#comments #commentform p.form-submit,
#comments #commentform p:not(.comment-form-comment)[class^='comment-form-']
{
    float: left;
    width: 33.33333%;
}

#comments #commentform p.form-submit
{
    width: auto; 
    min-width: 33.33333%;
}

ul.share
{
    position: relative;
    overflow: hidden;
    margin: 20px 0 5px;
    padding: 0 0 22px;
    list-style: none;
}

ul.share li
{
    float: left;
    border-right: .28em solid #fff;
}

ul.share li a
{
    font-size: 12px;
    font-size: .75rem;
    display: inline-block;
    padding: .55em 1em .4em;
    color: #fff;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    border-radius: 2px; 
    background: none #66a7c5;
}

ul.share li a:hover
{
    opacity: .8;
}

ul.share li a.share__facebook
{
    background-color: #6d84b4;
}

ul.share li a.share__facebook:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share li a.share__twitter
{
    background-color: #38aeea;
}

ul.share li a.share__twitter:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share li a.share__google
{
    background-color: #d84c38;
}

ul.share li a.share__google:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share li a.share__email:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share li a.share__whatsapp
{
    background-color: #43d854;
}

ul.share li a.share__whatsapp:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share li a.share__sms:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.share:after
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 25%;
    content: '';
    border-bottom: 1px dotted #b2b2b2;
}

/**
 * Content
 */
article
{
    padding-bottom: 20px;
}

article .entry-header
{
    text-transform: uppercase;
}

article .entry-header h1.entry-title
{
    font-size: 2em;
    line-height: 1.1em;
    text-transform: uppercase;
}

article .entry-header .entry-meta
{
    font-size: 85.71%;
    line-height: 1.2em;
    margin-top: -1.3em;
}

article .entry-header .entry-meta > span
{
    margin-right: 1.12em;
}

article .entry-header .entry-meta .posted-on ul,
article .entry-header .entry-meta .cat-links ul,
article .entry-header .entry-meta .tag-links ul
{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

article .entry-header .entry-meta .posted-on ul li,
article .entry-header .entry-meta .cat-links ul li,
article .entry-header .entry-meta .tag-links ul li
{
    display: inline;
}

article .entry-header .entry-meta .posted-on:before,
article .entry-header .entry-meta .cat-links:before,
article .entry-header .entry-meta .tag-links:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    color: #b2b2b2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article .entry-header .entry-meta .posted-on li + li:before,
article .entry-header .entry-meta .posted-on a + a:before,
article .entry-header .entry-meta .cat-links li + li:before,
article .entry-header .entry-meta .cat-links a + a:before,
article .entry-header .entry-meta .tag-links li + li:before,
article .entry-header .entry-meta .tag-links a + a:before
{
    content: ', ';
    cursor: default;
    color: #b2b2b2;
}

article .entry-header .entry-meta .post-edit-link:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    color: #b2b2b2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article .entry-header .entry-meta .posted-on:before
{
    content: '\f017';
}

article .entry-header .entry-meta .posted-on a
{
    cursor: text;
    color: #3d464c;
}

article .entry-header .entry-meta .posted-on .published + .updated
{
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

article .entry-header .entry-meta .cat-links:before
{
    content: '\f07c';
}

article .entry-header .entry-meta .tag-links:before
{
    content: '\f02c';
}

article .entry-header .entry-meta .byline .author a:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: .28em;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article .post-thumbnail
{
    line-height: 0;
    display: block;
    margin: 15px 0;
    margin-left: -20px;
    background: url('./images/pattern-light.svg') repeat fixed #b2b2b2;
}

article .post-thumbnail img
{
    width: 100%;
}

article.post-teaser.has-post-thumbnail .post-thumbnail
{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

article.post-teaser.has-post-thumbnail .post-thumbnail img
{
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-out;
    -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    opacity: .85;
}

article.post-teaser.has-post-thumbnail:hover .post-thumbnail img
{
    -ms-transform: scale(1.1, 1.1) rotate(-2deg);
        transform: scale(1.1, 1.1) rotateZ(-2deg);
    opacity: 1;
}

article.post-teaser .entry-header h1.entry-title
{
    font-weight: 900;
}

article.post-teaser:hover .entry-header h1.entry-title a
{
    color: #369;
}

article.post-teaser:hover .entry-header h1.entry-title a:hover
{
    color: #0b8e36;
}

article.post-teaser .more-link
{
    font-weight: bold;
}

article.post-teaser .more-link:before
{
    line-height: 0;
    display: block;
    height: .5em;
    content: '';
}

article .entry-content .gallery
{
    margin-left: -21px;
}

article .entry-content:empty
{
    display: none;
}

article + article
{
    padding-top: 15px;
    border-top: 1px solid #f2f2f2;
}

/**
 * Messages
 */
.ok,
[class*='ok-']
{
    color: #4f8a10; 
    background-color: #dff2bf !important;
}

.warning
{
    color: #9f6000; 
    background-color: #feefb3 !important;
}

.error,
[class*='error-']
{
    color: #d8000c; 
    background-color: #ffbaba !important;
}

/**
 * Footer
 */
/**
 * Widgets
 */
.widget
{
    position: relative;
    z-index: 1;
    margin: 20px 0;
}

.widget .widget-title,
.widget .widgettitle
{
    font-size: 136.5275%;
    line-height: 1.6;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #3d464c;
}

.widget .widget-title a,
.widget .widgettitle a
{
    display: block;
    color: #fff;
}

/**
 * Lightbox
 */
#lightbox
{
    line-height: 0;
    position: relative;
    position: fixed; 
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .85);
}

#lightbox:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-top: -25px;
    margin-left: -25px;
    margin-left: -25px;
    content: '';
    animation: spinner 1.2s infinite;
    animation-timing-function: linear;
    border: 4px solid rgba(255, 255, 255, .35);
    border-left-color: #fff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .65);
    background-color: transparent;
}

@keyframes rotateplane
{
    0%
    {
        perspective: 120px;
    }

    50%
    {
        transform: rotateY(180deg);
        perspective: 120px;
    }

    100%
    {
        transform: rotateY(180deg) rotateX(180deg);
        perspective: 120px;
    }
}

@keyframes scaleout
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes spinner
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

#lightbox #lightbox__nav
{
    position: relative;
    z-index: 1;
    max-height: 100%;
    margin: 0 auto;
}

#lightbox #lightbox__nav span
{
    position: absolute;
    top: 3px;
    bottom: -3px;
    display: block;
    display: none;
    width: 50%;
}

#lightbox #lightbox__nav span.nav-prev
{
    left: 0;
}

#lightbox #lightbox__nav span.nav-next
{
    right: 0;
}

#lightbox img
{
    position: relative;
    width: auto; 
    max-height: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .65);
}

#lightbox.loading:before
{
    z-index: 1;
}

#lightbox.active
{
    display: block;
}

/**
 * Google maps
 */
.gm-wrapper
{
    position: relative;
    margin-left: -20px;
    background-color: rgba(0, 0, 0, .35);
}

.gm-wrapper address,
.gm-wrapper .info
{
    display: none;
}

.gm-wrapper .gm-canvas > div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gm-wrapper .gm-style
{
    z-index: 1 !important;
}

.gm-wrapper:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    content: 'ERROR :/';
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    color: #fff;
}

.gm-wrapper.loading:after
{
    content: 'loading ...';
}

/**
 * Thickbox
 */
#TB_window
{
    width: auto !important;
    margin: 0 !important;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

#TB_window #TB_ajaxWindowTitle
{
    width: auto;
}

#TB_window #TB_ajaxContent
{
    width: auto !important;
    height: auto !important;
}

/**
 * Admin Bar
 */
#wpadminbar
{
    position: fixed !important;
}

@media screen and (min-width: 600px)
{
    body.admin-bar:not(#tinymce):before
    {
        top: 32px;
    }
    body.admin-bar #page
    {
        min-height: calc(100vh - 32px);
    }
    body.admin-bar.sidebar-menu #masthead,
    body.admin-bar.top-menu #masthead
    {
        top: 32px !important;
    }
    body.admin-bar #site-navigation .menu-toggle
    {
        top: 42px;
    }
}

@media screen and (max-width: 782px) and (min-width: 600px)
{
    body.admin-bar:not(#tinymce):before
    {
        top: 46px;
    }
    body.admin-bar #page
    {
        min-height: calc(100vh - 46px);
    }
    body.admin-bar.sidebar-menu #masthead,
    body.admin-bar.top-menu #masthead
    {
        top: 46px !important;
    }
    body.admin-bar #site-navigation .menu-toggle
    {
        top: 56px;
    }
}

/**
 * Responsive
 */
@media screen and (min-width: 1200px)
{
    #content
    {
        padding-right: 264px;
    }
    #content #tertiary
    {
        position: absolute;
        z-index: 1;
        right: 84px;
        clear: none;
    }
}

@media screen and (max-width: 862px)
{
    body,
    button,
    input,
    select,
    textarea
    {
        font-size: .75rem;
    }
    table.season-table thead,
    table.season-table tbody,
    table.season-table tfoot,
    table.season-schedule thead,
    table.season-schedule tbody,
    table.season-schedule tfoot
    {
        font-size: 100%;
    }
    article.member
    {
        font-size: 100%;
    }
    #content
    {
        padding-right: 20px;
    }
    #content #primary
    {
        padding-right: 180px;
    }
    #content #primary #main
    {
        float: none;
        width: auto; 
        margin-right: -180px;
    }
    #content #primary #secondary
    {
        font-size: 100%;
        float: left;
        width: 100%;
        margin-right: 0;
    }
    #content #tertiary
    {
        position: relative;
        right: 0;
        float: right;
    }
}

/*# sourceMappingURL=style.css.map */
