/*
Theme Name: siehste
Theme URI:
Author: Stefan Käsche
Author URI:
Description: Theme for the website of Volleyballclub Strausberg e.V.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: siehste
Tags:

siehste is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
*/

@import "./css/base";

@import "./css/normalize.css";
@import "./css/elements";
@import "./css/forms";
@import "./css/misc";

// add global style (for all pages) FILES here

@import "./fonts/font-awesome/css/font-awesome.min.css";
//@import "../../../wp-includes/css/dashicons.min.css";

@import "./css/layout";
@import "./css/header";
@import "./css/comments";
@import "./css/share";

/**
 * Content
 */

article {
  padding-bottom: $gap;

  .entry-header {
    text-transform: uppercase;

    h1.entry-title {
      font-size: 2em;
      line-height: 1.1em;
      text-transform: uppercase;
    }

    .entry-meta {
      font-size: 85.71%;
      line-height: 1.2em;
      margin-top: -1.3em;

      > span {
        margin-right: 1.12em;
      }

      .posted-on,
      .cat-links,
      .tag-links {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: inline-block;

          li {
            display: inline;
          }
        }

        @include icon-before {
          color: $greyDark;
        }

        li + li,
        a + a {
          &:before {
            content: ", ";
            color: $greyDark;
            cursor: default;
          }
        }
      }

      .post-edit-link {
        @include icon-before("\f040") {
          color: $greyDark;
        }
      }

      .posted-on {
        &:before {
          content: "\f017";
        }

        a {
          color: $defaultColor;
          cursor: text;
        }

        .published + .updated {
          @include element-invisible;
        }
      }

      .cat-links:before {
        content: "\f07c";
      }

      .tag-links:before {
        content: "\f02c";
      }

      .byline .author a {
        @include icon-before( "\f007" );
      }
    }
  }

  .post-thumbnail {
    line-height: 0;
    background: url("./images/pattern-light.svg") repeat fixed $greyDark;
    display: block;
    margin: ($gap*.75 ) 0;
    margin-left: -$gap;

    img {
      width: 100%;
    }
  }

//  &:not(.post-teaser) {
//    .post-thumbnail.portrait {
//      width: 50%;
//      float: left;
//      margin-right: $gap;
//    }
//  }

  &.post-teaser {
    &.has-post-thumbnail {
      .post-thumbnail {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s ease-out;
          transform: scale(1, 1);
          opacity: .85;
        }
      }

      &:hover {
        .post-thumbnail img {
          opacity: 1;
          transform: scale(1.1, 1.1) rotateZ(-2deg);
        }
      }
    }

    .entry-header h1.entry-title {
      font-weight: 900;
    }

    &:hover .entry-header h1.entry-title a {
      color: $linkColor;

      &:hover {
        color: $linkColorHover;
      }
    }

    .more-link {
      font-weight: bold;

      &:before {
        content: "";
        display: block;
        line-height: 0;
        height: .5em;
      }
    }
  }

  .entry-content {
    .gallery {
      margin-left: -21px;
    }

    &:empty {
      display: none;
    }
  }

  + article {
    border-top: 1px solid $greyLight;
    padding-top: $gap * .75;
  }
}

/**
 * Messages
 */

.ok,
[class*="ok-"] {
  background-color: #DFF2BF !important;
  color: #4F8A10;
}

.warning {
  background-color: #FEEFB3 !important;
  color: #9F6000;
}

.error,
[class*="error-"] {
  background-color: #FFBABA !important;
  color: #D8000C;
}

/**
 * Footer
 */

/**
 * Widgets
 */

.widget {
  margin: $gap 0;
  position: relative;
  z-index: 1;

  .widget-title,
  .widgettitle {
    margin: 0;
    padding: ( $gap / 4 ) ( $gap / 2 );
    background-color: $defaultColor;
    color: #fff;
    font-size: 136.5275%;
    line-height: 1.6;

    a {
      display: block;
      color: #fff;
    }
  }
}

/**
 * Lightbox
 */

#lightbox {
  display: none;
  line-height: 0;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  background-color: rgba(#000, 0.85);
  text-align: center;
  box-sizing: border-box;
  padding: $gap;
  @include loader;
  position: fixed;

  #lightbox__nav {
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    span {
      display: block;
      position: absolute;
      top: 3px;
      bottom: -3px;
      width: 50%;
      display: none;

      &.nav-prev {
        left: 0;
      }

      &.nav-next {
        right: 0;
      }
    }
  }

  img {
    box-shadow: 0 0 ( $gap * 2 ) rgba(#000, 0.65);
    position: relative;
    border: 3px solid #fff;
    max-height: 100%;
    width: auto;
  }

  &.loading:before {
    z-index: 1;
  }

  &.active {
    display: block;
  }
}

/**
 * Google maps
 */

.gm-wrapper {
  background-color: rgba(#000,.35);
  position: relative;
  margin-left: -20px;

  address,
  .info {
    display: none;
  }

  .gm-canvas > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .gm-style {
    z-index: 1 !important;
  }

  &:after {
    content: "ERROR :/";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &.loading:after {
    content: "loading ...";
  }
}

/**
 * Thickbox
 */

#TB_window {
  margin: 0 !important;
  width: auto !important;
  transform: translate(-50%,-50%);

  #TB_ajaxWindowTitle {
    width: auto;
  }

  #TB_ajaxContent {
    width: auto !important;
    height: auto !important;
  }
}

/**
 * Admin Bar
 */

#wpadminbar {
  position: fixed !important;
}

@media screen and ( min-width: 600px ) {
  body.admin-bar {
    $adminBarHeight: 32px;

    &:not(#tinymce):before {
      top: $adminBarHeight;
    }

    #page {
      min-height: calc(100vh - 32px);
    }

    &.sidebar-menu,
    &.top-menu {
      #masthead {
        top: $adminBarHeight !important;
      }
    }

    #site-navigation .menu-toggle {
      top: $adminBarHeight + $gap/2;
    }
  }
}

@media screen and ( max-width: 782px ) and ( min-width: 600px ) {
  $adminBarHeight: 46px;

  body.admin-bar {
    &:not(#tinymce):before {
      top: $adminBarHeight;
    }

    #page {
      min-height: calc(100vh - #{$adminBarHeight});
    }

    &.sidebar-menu,
    &.top-menu {
      #masthead {
        top: $adminBarHeight !important;
      }
    }

    #site-navigation .menu-toggle {
      top: $adminBarHeight + $gap/2;
    }
  }
}

/**
 * Responsive
 */

@import "./css/tablet";
@import "./css/mobile";
